<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p (click)="sendMail();">{{email}}</p>
</div>
<article class="about">
    <h2>About me</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut diam non quam mollis varius ut eget metus. Pellentesque vel nunc sed nibh sollicitudin malesuada. Fusce ipsum elit, ornare at nunc eget, iaculis commodo quam. Pellentesque eu nisl at ante feugiat feugiat. Quisque vestibulum, metus nec tincidunt commodo, enim velit molestie lorem, vitae dignissim metus sem in nisl. Phasellus quis purus ut augue scelerisque porta vitae vitae nibh. Nam ut diam ac sapien dictum bibendum maximus ac neque. Suspendisse laoreet egestas turpis et ornare. Mauris feugiat urna eget arcu accumsan, sit amet convallis augue dignissim. Nunc aliquam ante non cursus aliquet. Donec at placerat tellus, ac tempor erat. <br>
        Cras fermentum sapien eget nisl fringilla rutrum sed nec ligula. Quisque eu mollis orci. Nullam gravida diam arcu, at mollis massa fringilla a. Curabitur euismod nulla nibh, vitae porta purus fringilla vel. Ut interdum tortor sit amet nisl sodales, et auctor risus placerat. Nam vulputate sapien viverra ornare scelerisque. Aenean eget nunc sit amet dui ornare lobortis ac in risus. Phasellus aliquet mauris ac vestibulum rutrum. Nam in facilisis velit, et posuere neque. Donec vitae iaculis enim, vel molestie sapien. Donec pulvinar lectus in rhoncus dignissim. Etiam in sem quis urna imperdiet sodales ac non dolor. Pellentesque aliquet ornare lectus. Nullam dui dui, rutrum quis arcu id, tristique condimentum leo. Nam non suscipit mi. 
    </p>
</article>