<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['actived']">Home</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['actived']">Projects</a></li>
    <li class="logo"><a>DR</a></li>
    <li><a [routerLink]="['/create-project']" [routerLinkActive]="['actived']">Create Projects</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['actived']">Contact</a></li>
    
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
<footer>
  Learning Angular
</footer>